@charset "UTF-8";
body{
  max-width: 1800px;
}
/* 상단헤더++++++++++++++++++++++++++++++++++ */
header{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  /* padding: 20px 80px;
  box-sizing: border-box; */
}
header .logo{
  
}
header .logo h1{
  
}
header .logo h1 a{
  width: 100%;
  height: auto;
}
header .logo h1 a img{
  width: 190px;
  height: 29px;
}
nav{
  width: 52%;
  height: 60px;
  display: flex;
  justify-content:space-between;
}

#header_bottom {
  width: 100%;
  height: 60px;
  padding: 20px 80px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #fff;
  position: relative;
  z-index: 3;

}
nav .gnb ul{
  display: flex;
  justify-content: space-between;
  text-align: center;
  }
nav .gnb>ul>li{
  line-height: 50px;
  padding: 0 30px;
  box-sizing: border-box;
  position: relative;
}
nav .gnb>ul>li::after{
  width: 0;
  height: 2px;
  background-color: #333;
  position: absolute;
  left: 50%;
  top: 40px;
  content: '';
  transition: all 0.3s ease-out;
}
nav .gnb>ul>li:hover:nth-child(1):after{
  width: 50px;
  height: 2px;
  background-color: #333;
  position: absolute;
  left: 45px;
  top: 40px;
  content: '';
  transition: all 0.3s ease-out;
}

nav .gnb>ul>li:hover:nth-child(2):after,nav .gnb>ul>li:hover:nth-child(3):after{
  width: 65px;
  height: 2px;
  background-color: #333;
  position: absolute;
  left: 48px;
  top: 40px;
  content: '';
  transition: all 0.3s ease-out;
}
nav .gnb ul li a{

}
nav .gnb ul li ul{
  display: block;

}
nav .gnb ul li ul li{
  padding: 10px 0;
  box-sizing: border-box;
  color:#444;
  font-size: 0.92rem;
}
nav .gnb ul li ul li a:hover{
  cursor: pointer;
  text-decoration: underline;
}
.lnb{
  /* width: 40%; */
}
.lnb ul{
  
}
.lnb ul li{
  display: inline-block;
  line-height: 30px;
  padding: 10px;
  font-size: 1.2rem;
}
.lnb ul li a{

}
.lnb i{

}
/* 메인페이지++++++++++++++++++++++++++++++++++ */
article{
  padding: 0 8%;
}
h2{
  font-size: 2.8em;
}
h3{
  font-size: 2.2em;
  padding-bottom: 30px;
}
h4{
  font-size: 1.5em;
}
p,a,li{
  /* font-size: 0.98em; */
}
#container{
  margin: 0 auto;
  
}
/* 자세히 보기 버튼 애니 */
.more1{
  display: inline-block;
  margin-top:15px;
  position: absolute;
  cursor: pointer;
}
.more1::after{
  content: "";
  /* width: 0%;
  height: 2px; */
  display: block;
  background-color: transparent;
}
.more1:hover::after{
  content: "";
  position:relative;
  bottom:0;
  left: 0;
  /* width: 100%;
  height: 2px; */
  display: block;
  background-color: #000;
  /* transition: all 1s; */
  animation-name: lineAni;
  animation-duration: 1s;
  animation-iteration-count:1;
  animation-direction: alternate;
  animation-timing-function:linear;
  animation-delay:0.3s;
}
@keyframes lineAni{
  0%{
   width: 0%;
   height: 2px;

  }
  30%{
   width: 100%;
   height: 2px;

  }
  100%{
    width: 100%;
    height: 2px;
    /* transform:translateX(100%) ; */
  }
  
}
#container div{
  max-width: 1800px;
  height: 100%;
}
#container div iframe{
  width: 100%;
  height: 700px;
}
/* 1 Breathing------------------------ */
#Breathing{
  /* overflow: hidden; */

}
#Breathing>div.up{
  max-width:600px;
  margin: 0 auto;
  padding: 80px 20px;
  box-sizing: border-box;
}
/* 공통-슬라이드 업 효과 */
div.up{

}
#Breathing>div>h3{

}

#Breathing .zoomin{
  overflow: hidden;
  width: 100%;
  height: 39vw;
}
#Breathing .zoomin img{
  width: 100%;
  height: 39vw;
  transition: all 0.7s ease-out;
}
#Breathing .zoomin img:hover{
  cursor: pointer;
  display: block;
  transition: all 0.7s ease-out;
  transform: scale(1.1);
  opacity: 0.6;
}
/* 2 Aesthetic------------------------ */
#Aesthetic{
 margin-top: 80px;
}
#Aesthetic>div.Aesthetic{
  margin-bottom: 80px;
  text-align: center;
}
#Aesthetic>div.up>h2{

}
#Aesthetic>div.up>p{
  padding-top: 15px;
}
#Aesthetic>div.Craftsmanship{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 75px;
  align-items: flex-start;
}
#Aesthetic>div.Craftsmanship>span{
  width: 58%;
  height: 27.8vw;
  overflow: hidden;
}
#Aesthetic>div.Craftsmanship>span>img{
  height: 27.8vw;
  transition: all 0.7s ease-out;
}
#Aesthetic>div.Craftsmanship>span>img:hover{
  cursor: pointer;
  display: block;
  transition: all 0.7s ease-out;
  transform: scale(1.1);
  opacity: 0.6;
  
}
#Aesthetic>div.Craftsmanship>div{
  width: 42%;
  padding-left: 5%;
  padding-top:3%;
  box-sizing: border-box;
}
#Aesthetic>div.Craftsmanship>div>h3{

}
#Aesthetic>div.Craftsmanship>div>p{

}
#Aesthetic>div.Craftsmanship>div>a{

}
#Aesthetic>div.Natural{

}
#Aesthetic>div.Natural>h3{

}
#Aesthetic>div.Natural>p{

}
/* 3 Corporate------------------------ */
#Corporate{
  margin-top: 80px;
  position: relative;
}
#Corporate .CorpA{
  display: flex;
  justify-content: flex-end;
}
#Corporate .CorpA:nth-child(1){
  /* display: flex; */
  background-color: yellow;
}
#Corporate .CorpA:nth-child(2){
  /* display: flex; */
  background-color: pink;
}

/* 공통 left */
#Corporate .CorpA .left{
  width: 33%;
  position: absolute;
  top: 177px;
  left: 114px;
  position: fixed;
}

#Corporate .CorpA .cA1{
  color:red;
}

#Corporate .CorpA .cA2{
  color:blue;
}
#Corporate .CorpA .cA20{
}

/* 공통 right */
#Corporate .CorpA .right{
  width: 55%;
  /* margin-left: 45%; */
}
#Corporate .CorpA .right>div{
  display: flex;
  margin-bottom: 100px;
  box-sizing: border-box;
}
#Corporate .CorpA .right>div>ul{
  width: 50%;
}
#Corporate .CorpA .right>div>ul.ulef{
  margin-right: 5%;
  box-sizing: border-box;
}
#Corporate .CorpA .cA10>div>ul{
  
}
#Corporate .CorpA .cA10>div>ul>img{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#Corporate .CorpA .cA10>div>ul>h4{
  padding: 15% 0 10%;
}
#Corporate .CorpA .cA10>div>ul>li{
  
}

#Corporate .CorpA .cA2{
  margin-top: 80px;
}
#Corporate .CorpA .cA2 h3{
  
}
#Corporate .CorpA .cA2 p{
  
}
#Corporate .CorpA .cA2 li{
  
}
#Corporate .CorpA .cA2 li a{
  
}

#Corporate .CorpA .cA20{
  
}
#Corporate .CorpA .cA20 div{
  
}
#Corporate .CorpA .cA20 ul{
  
}
#Corporate .CorpA .cA20 div ul a{
  cursor: pointer;
}
#Corporate .CorpA .cA20 div ul a img{
  width: 98%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

}
#Corporate .CorpA .cA20 div ul li{
  
}
#Corporate .CorpA .cA20 div ul li a{
  
}
/* 4 last------------------------ */
#last{
  padding: 0;
  position: relative;
}
#last div iframe{

}
#last .pd{
  padding: 0 8%;
  position: absolute;
  bottom: 200px;
  left: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
#last .pd h4{
  color: #fff;
}
#last .pd li{
  /* position: absolute;
  bottom: 0;
  right: 0; */

}
#last .pd li a{
color: #fff;
}
/* 5 last------------------------ */
#insta{
  margin: 8% 0;

}
#insta div{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#insta div a{
  width: 20%;
  padding:0 8px;
  box-sizing: border-box;
  position: relative;
}

#insta div a img{width:100%;}
#insta div a p.go{
background-color: rgba(0, 0, 0, 0.668);
position: absolute;
top:0.5%;
left: 3%;
display: block;
width: 94%;
height: 97%;
transition: all 0.5s;
opacity: 0;
text-align: center;
font-size: 30px;
line-height: 8;

}
#insta div a:hover>.go{
  opacity:1;
  color: #fff;
}



/* 푸터영역++++++++++++++++++++++++++++++++++ */
footer{
  width: 100%;
  background-color: #f5f4ec;
  display: flex;
  flex-wrap: wrap;
  padding: 4% 8%;  
  box-sizing: border-box;
}
footer div{
  width: 50%;
}
footer li{
line-height: 1.8;
}
.sns, .list{
display: flex;
padding-bottom:80px;
}
.sns{
  padding-top:20px;
}
.sns li{
  padding-right:20px;
}
.sns li i{
font-size: 30px;
}
.list>li{
  width: 33%;
  font-weight: 800;

}
.list li ul li{
  font-weight: normal;

}

.list>li>ul{
  border-top:1px solid #333;
  width: 94%;
  display: block;
}
.list>li>a>ul{
  width: 100%;
}

footer div:nth-child(3)>li:nth-child(1){
  font-weight: 800;
}
footer div:nth-child(3)>li:nth-child(2){
  color: #999;
}

footer div:nth-child(4){
  /* font-weight: 500; */
}